/* regole generali */


/* header  */

header{

}

header nav{
    height: 80px;
}


/* main  */
main{
    display: flex;
}
main nav{
    width: 150px;
    height: 100vh;
}

main section{
    width: calc(100% - 150px);
    height: 100vh;
}

main nav,
main section{
    padding-top: 100px;
}





/* DEBUG  */

header{
    background-color: aqua;
}

main nav{
    background-color: wheat; 
}

main section{
    background-color: chartreuse;
}